<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>base</title>
</head>
<body>
<div ng-controller="PermissionController">
    <ul id="permissionTree" class="ztree"></ul>
    <button type="button" class="btn btn-default" ng-click="addNodeClick()">新增節點</button>
    <script type="text/ng-template" id="permissionEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="permission_code" class="col-md-2 control-label">代碼</label>
                    <div class="col-md-10">
                        <input id="permission_code" type="text" ng-model="editPermission.permission_code" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zh-TW" class="col-md-2 control-label">繁</label>
                    <div class="col-md-10">
                        <input id="zh-TW" type="text" ng-model="editPermission.permissionNameMap.zh_TW" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="zh-CN" class="col-md-2 control-label">簡</label>
                    <div class="col-md-10">
                        <input id="zh-CN" type="text" ng-model="editPermission.permissionNameMap.zh_CN" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="en-US" class="col-md-2 control-label">英</label>
                    <div class="col-md-10">
                        <input id="en-US" type="text" ng-model="editPermission.permissionNameMap.en_US" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="path" class="col-md-2 control-label">路徑</label>
                    <div class="col-md-10">
                        <input id="path" type="text" size="30" ng-model="editPermission.path" class="form-control"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>

</body>
</html>