<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Holiday</title>
    <script type="text/javascript" src="goodsManage/holiday/holiday.js"></script>
</head>
<body>
<div ng-controller="HolidayController">
    <select ng-model="selectedExchange" ng-change="exchangeChange();"
            ng-options="exchange.exchange_id for exchange in exchangeList">
    </select>
    <select ng-model="selectedMainSymbol" ng-change="mainSymbolChange();"
            ng-options="main_symbol for main_symbol in selectedExchange.main_symbol">
    </select>
    <button type="button" class="btn-xs btn-primary" translate="addHoliday" ng-click="batchAddHolidayClick()"></button>
    <div ui-grid="holidayGridOptions" class="grid"></div>
    <div ui-grid="exceptionGridOptions" class="grid"></div>
</div>
<script type="text/ng-template" id="batchHoliday.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body" ng-init="init()">
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>{{'beginDate'|translate}}</th>
                <th>{{'endDate'|translate}}</th>
                <th>{{'memo'|translate}}</th>
                <th>{{'operate'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
                <td>
                    <input type="text" ng-model="row.begin_date" max-date="row.endDate" datepicker-popup="{{'yyyyMMdd'}}" is-open="row.beginDateOpened" size="10"/>
                    <button type="button" class="btn-xs btn-default" ng-click="beginDateButtonClick(row)"><i class="glyphicon glyphicon-calendar"></i></button>
                </td>
                <td>
                    <input type="text" ng-model="row.endDate" min-date="row.begin_date" datepicker-popup="{{'yyyyMMdd'}}" is-open="row.endDateOpened" size="10"/>
                    <button type="button" class="btn-xs btn-default" ng-click="endDateButtonClick(row)"><i class="glyphicon glyphicon-calendar"></i></button>
                </td>
                <td><input type="text" ng-model="row.memo"/></td>
                <td>
                    <button type="button" class="btn-xs btn-primary" translate="add" ng-click="addClick($index,row)"></button>
                    <button type="button" class="btn-xs btn-primary" translate="delete" ng-click="deleteClick($index,row)"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
        <button class="btn btn-primary" ng-click="save()" translate="save"></button>
    </div>
</script>
<!--<div>
    <select id="exchange_id"></select>
    <select id="main_symbol_id"></select>
</div>
<input id="batchAddHolidayBt" type="button" data-i18n="[value]function.addHoliday" class="button"/>
<table class="holidayTable">
    <thead>
    <tr>
        <th field="exchange_id" data-i18n="exchange_id"></th>
        <th field="main_symbol_id" data-i18n="main_symbol_id"></th>
        <th field="begin_date" data-i18n="begin_date"></th>
        <th field="end_date" data-i18n="end_date"></th>
        <th field="memo" data-i18n="memo"></th>
        <th templateClass="holidayManage" data-i18n="holidayManage"></th>
    </tr>
    </thead>
</table>

<input id="addExceptionBt" type="button" data-i18n="[value]function.addException" class="button"/>
<table class="exceptionTable">
    <thead>
    <tr>
        <th field="exchange_id" data-i18n="exchange_id"></th>
        <th field="main_symbol_id" data-i18n="main_symbol_id"></th>
        <th field="calendar" data-i18n="calendar"></th>
        <th field="memo" data-i18n="memo"></th>
        <th templateClass="exceptionManage" data-i18n="exceptionManage"></th>
    </tr>
    </thead>
</table>

<div id="holidayBatchDialog">
    <input id="addHolidayBt" type="button" data-i18n="[value]function.addHoliday" class="button"/>
    <table class="holidayEditTable">
        <thead>
        <tr>
            <th templateClass="column0"></th>
            <th templateClass="begin_date" data-i18n="begin_date"></th>
            <th templateClass="end_date" data-i18n="end_date"></th>
            <th templateClass="holidayMemo" data-i18n="memo"></th>
        </tr>
        </thead>
    </table>

    <input id="batchSaveHolidayBt" type="button" data-i18n="[value]function.save" class="button">
    <div style="display: none;">
        <div class="column0">
            <div class="rowDeleteImg"></div>
        </div>
        <div class="begin_date">
            <input name="begin_date" type="text" class="dateInput startDate"/>
        </div>
        <div class="end_date">
            <input name="end_date" type="text" class="dateInput endDate"/>
        </div>
        <div class="holidayMemo">
            <input name="holidayMemo" type="text" class="baseInput"/>
        </div>
    </div>
</div>
<div id="holidayDialog">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label data-i18n="begin_date" for="begin_date" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <input id="begin_date" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label data-i18n="end_date" for="end_date" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <input id="end_date" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label data-i18n="memo" for="holidayMemo" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <input id="holidayMemo" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input id="saveHoliday" type="button" data-i18n="[value]function.save" class="button">
            </div>
        </div>
    </form>
</div>
<div id="exceptionDialog">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label data-i18n="calendar" for="calendar" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <input id="calendar" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label data-i18n="memo" for="exceptionMemo" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <input id="exceptionMemo" type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <input id="exceptionSave" type="button" data-i18n="[value]function.save" class="button">
            </div>
        </div>
    </form>
</div>
-->
</body>
</html>