<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Daily</title>
</head>
<body>
<div ng-controller="DailyController">
    <select ng-model="selectedExchange" ng-change="exchangeChange();"
            ng-options="exchange.exchange_id for exchange in exchangeList">
    </select>
    <select ng-model="selectedMainSymbol" ng-change="mainSymbolChange();" style="display: none;"
            ng-options="main_symbol.main_symbol_id for main_symbol in selectedExchange.mainSymbolList">
    </select>
    <table st-table="displayedCollection" st-set-filter="customFilter" st-safe-src="rowCollection" class="table table-striped table-jt8">
        <thead>
        <tr>
            <th><input st-search="exchange_id" class="input-xs form-control" type="search"/></th>
            <th><input st-search="symbol_id" start-with="true" class="input-xs form-control" type="search"/></th>
            <th><input st-search="stock_name" class="input-xs form-control" type="search"/></th>
            <th><input st-search="last" class="input-xs form-control" type="search"/></th>
            <th><input st-search="total_volume" class="input-xs form-control" type="search"/></th>
            <th><input st-search="updown_per" class="input-xs form-control" type="search"/></th>
            <th><checkbox-filter predicate="tradable"></checkbox-filter></th>
        </tr>
        <tr>
            <th>{{'exchangeId'|translate}}</th>
            <th>{{'symbolId'|translate}}</th>
            <th>{{'stock_name'|translate}}</th>
            <th>{{'last'|translate}}</th>
            <th>{{'total_volume'|translate}}</th>
            <th>{{'updown_per'|translate}}</th>
            <th style="white-space:nowrap">{{'tradable'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{row.exchange_id}}</td>
            <td>{{row.symbol_id}}</td>
            <td>{{row.stock_name}}</td>
            <td>{{row.last}}</td>
            <td>{{row.total_volume}}</td>
            <td>{{row.updown_per}}</td>
            <td><row-readonly-checkbox select-value="row.tradable"></row-readonly-checkbox></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7" class="text-center">
                <div st-pagination="" st-displayed-pages="10" st-items-by-page="20"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>