.form {
    display: none;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form label span, .form div span {
    display: inline-block;
    width: 90px;
}

.form input[type=text] {
    width: 140px;
}

.form select {
    width: 146px;
}

.form div label {
    display: inline-block;
}