<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
<div ng-controller="UserController">
    <button type="button" class="btn-xs btn-primary" translate="query" ng-click="queryClick()"></button>
    <button type="button" class="btn-xs btn-primary" translate="addUser" ng-click="addUserClick()"></button>
    <!--<div ui-grid="gridOptions" class="grid"></div>-->
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>{{'loginId'|translate}}</th>
            <th>{{'userManage'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.login_id}}</td>
            <td>
                <button type="button" class="btn-xs btn-primary" translate="removeUser" ng-click="removeUserClick(row)" ></button>
                <button type="button" class="btn-xs btn-primary" translate="allocateRole" ng-click="allocateRoleClick(row)" ></button>
            </td>
        </tr>
        </tbody>
    </table>
    <script type="text/ng-template" id="userEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="login_id" class="col-md-2 control-label" translate="loginId"></label>
                    <div class="col-md-10">
                        <input id="login_id" type="text" ng-model="editObj.login_id" class="input-sm form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label" translate="userPassword"></label>
                    <div class="col-md-10">
                        <input id="password" type="password" ng-model="editObj.password" class="input-sm form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAgain" class="col-md-2 control-label" translate="inputAgain"></label>
                    <div class="col-md-10">
                        <input id="inputAgain" type="password" ng-model="editObj.inputAgain" class="input-sm form-control"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-click="save()" translate="save"></button>
        </div>
    </script>

    <script type="text/ng-template" id="allocateRole.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body" ng-init="init()">
            <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-click="save()" translate="save"></button>
        </div>
    </script>
</div>
</body>
</html>