@charset "utf-8";
/* CSS Document */

html body {
    background-color: rgba(255,255,255,1.00);
    margin: 0px auto;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smooth: always;
    width: 100%;
    font-family:"微軟正黑體", "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
a:link {
    text-decoration: none;
    color: #000000;
}
a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #ff7c00;
}
a:active {
    text-decoration: none;
    color: #000000;
}
.button_1 {
    /*text-decoration: none;*/
    /*color: #ffffff;*/
    /*background-image: -webkit-linear-gradient(270deg,rgba(255,110,0,1.00) 0%,rgba(255,166,0,1.00) 100%);*/
    /*background-image: -moz-linear-gradient(270deg,rgba(255,110,0,1.00) 0%,rgba(255,166,0,1.00) 100%);*/
    /*background-image: -o-linear-gradient(270deg,rgba(255,110,0,1.00) 0%,rgba(255,166,0,1.00) 100%);*/
    /*background-image: linear-gradient(180deg,rgba(255,110,0,1.00) 0%,rgba(255,166,0,1.00) 100%);*/
    /*font-family:"微軟正黑體","Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;*/
    /*border-radius:5px;*/

    text-decoration: none;
    color: #000000;
    background-image: -webkit-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    font-family: "微軟正黑體","Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius: 5px;
}
.button_2 {
    text-decoration: none;
    color: #000000;
    background-image: -webkit-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(183,183,183,1.00) 0%,rgba(241,241,241,1.00) 100%);
    font-family: "微軟正黑體","Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius: 5px;
}
.checkbox {
    width:15px;
    height:15px;
}

.table {
    border:#CCCCCC solid 1px;
    font-size:12px;
}
.table_title {
    background-image: -webkit-linear-gradient(270deg, rgb(174, 174, 174) 55%, rgb(230, 230, 230) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(174, 174, 174,1.00) 55%,rgba(230, 230, 230,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(174, 174, 174,1.00) 55%,rgba(230, 230, 230,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(174, 174, 174,1.00) 55%,rgba(230, 230, 230,1.00) 100%);
    color:#000000;
    font-size:12px;
    font-weight:bold;
    text-align:center;
}
.flip {
    background-color:#FFFFFF;
    font-size:12px;
}
.flop {
    background-color: #E5E5E5;
    font-size:12px;
}
