<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Role</title>
</head>
<body>
<div ng-controller="RoleController">
    <button type="button" class="btn-xs btn-primary" translate="query" ng-click="queryClick()"></button>
    <button type="button" class="btn-xs btn-primary" translate="addRole" ng-click="addRoleClick()"></button>
    <div ui-grid="gridOptions" class="grid"></div>

    <script type="text/ng-template" id="roleEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="role_code" class="col-md-2 control-label" translate="roleCode"></label>

                    <div class="col-md-10">
                        <input id="role_code" type="text" ng-model="editObj.role_code" class="input-sm form-control"
                               required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="role_name" class="col-md-2 control-label" translate="roleName"></label>

                    <div class="col-md-10">
                        <input id="role_name" type="text" ng-model="editObj.role_name" class="input-sm form-control"
                               required/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-click="save()" translate="save"></button>
        </div>
    </script>

    <script type="text/ng-template" id="allocatePermission.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body" ng-init="init()">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        <ul id="permissionTree" class="ztree"></ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()" translate="cancel"></button>
            <button class="btn btn-primary" ng-click="save()" translate="save"></button>
        </div>
    </script>

</div>

</body>
</html>